/* --- URL BAR --- */
/* Hides the container info in url-bar */
#urlbar #userContext-label {
  display: none !important;
}
#urlbar #userContext-indicator {
  display: none !important;
}
#urlbar #userContext-icons {
  display: none !important;
}

/* Removes Shield button*/
#urlbar #tracking-protection-icon-container {
  display: none !important;
}

/* Removes Bookmarks button*/
#urlbar #star-button-box {
  display: none !important;
}

/* Removes Permission button*/
#urlbar #identity-permission-box{
  display: none !important;
}

/* Removes Identity button*/
#urlbar #identity-box{
  display: none !important;
}

/* Centers the url text.*/
#urlbar #urlbar-input{
  text-align: center !important;
}

/* Transparent url bar */
#urlbar[open][zen-floating-urlbar="true"] {
     #urlbar-background {
         background-color: light-dark(color-mix(in srgb, #fdfdfd 75%, transparent), color-mix(in srgb, #0e0e0e 75%, transparent)) !important;
    }
} 

/* URLBar Background Blur */
#browser:has(#urlbar[open][zen-floating-urlbar="true"]) .browserContainer {
pointer-events: none;
filter: blur(10px) brightness(70%) saturate(50%) opacity(70%) !important;
scale: 1.1 !important; /* Zoom effect, remove the // to enable */
}
#browser .browserContainer {
transition: all 0.0s ease-in-out !important;
} 

/* --- REMOVE BUTTONS --- */
/* Hide plugins button.*/
#unified-extensions-button{
  display: none !important;
}

/* Hides status bar*/
#statuspanel{
    display: none !important;
}

/* Hides boder highlight on active tab while sin split view */
#tabbrowser-tabpanels[zen-split-view="true"].browserSidebarContainer.deck-selected {
    outline: var(--zen-colors-border) !important;
}

/* Hide Back and Forward buttons */
#back-button[disabled], #forward-button[disabled] {
    display: none !important;
}


/* --- TAB PREVIEW --- */
#tab-preview-panel {
  aspect-ratio: 3 / 2 !important; /* Sets the aspect ratio to 2:1 */
}

/* Removes the url on the the tab preview */
.tab-preview-uri {
    display: none !important;
}

/* --- SIDE BAR --- */
/* Removes the worspace button unde the essentials */
#zen-current-workspace-indicator-container{
    display: none !important;
}

/* Adds line under essentials */
#zen-essentials-container:has(tab) {
  border-bottom: 1px solid #ffffff13;
  padding-bottom: 8px !important;
  margin-bottom: 8px !important;
}

/* Hide the sidebar scroll bar */
#zen-tabs-wrapper {
        scrollbar-width: none !important;
}
